*{
    margin: 0px;
    padding: 0px;
}
body{
    color:white;
}
.container{
    background:black;
    height: 160px;
}
.uno{
    border-bottom: 3px solid rgb(251, 255, 0);
}
.dos{
    border-bottom: 3px solid rgb(251, 255, 0);
}
 .dos a{
    display:block;
    text-decoration: none;
    font-size: 20px;

}
.tres{
    border-bottom: 3px solid rgb(251, 255, 0);

}
.cuatro{
    border-bottom: 3px solid rgb(251, 255, 0);

}